{%extends "base.html"%}
{%load static%}
{%block contant%}

<body class="main">
    <div class="welcome">
        <div class="about">
            <img class="vertical_line1" src="https://vectorified.com/images/vertical-line-icon-20.png" alt="">
            <img class="vertical_line2" src="https://vectorified.com/images/vertical-line-icon-20.png" alt="">
        </div>

        <div class="about_1">
            <img class="head_img"
                src="https://yt3.ggpht.com/a/AATXAJzzojryXyWyohcBt7kK8OptWz7eYFHCT0ivbA=s900-c-k-c0xffffffff-no-rj-mo"
                alt="error">
        </div>

        <div class="about_2">
            <h1> Welcome</h1>
            <h2>To The Our Computer World</h2>
            <h3>Must Have Heard The Name</h3>
        </div>

    </div>
    <div class="headers">
        <div class="about_yourself">
            <h1>Hey ! I am a Web developer</h1>
            <p class="about_details">I'm a self-taught front-end web developer with a passion for
                building efficient websites and web applications using core
                technologies such as HTML5, CSS3.</p>
        </div>
        <div class="about_pic">
            <img src="{%static 'sushant_11.jpg'%}" alt="profile_pic">
            <div class="profile">
                <h3>SUSHANT KUMAR</h3>
                <h4>Software Engineer,Data Scientist</h4>
                <h4>B-tech From RGPV,Bhopal</h4>
            </div>
        </div>
    </div>
    </div>
    <div class="ref">
        <h1>Reference</h1>
        <div class="references">
            <li><a href="http://sushant244 | CodeChef User Profile for SUSHANT KUMAR | CodeChef">CODECHEF:- 2 Star on
                    codechef online coding practice platform</a>
            </li>
            <li> <a href="https://www.linkedin.com/in/sushant-kumar-469b19236">LINKEDIN:-Sushant kumar </a></li>
            <li> <a href="http://SUSHANT KUMAR - susant9128152891 | HackerRank">3HACKERANK:- Star on Hackerank online
                    coding pratice platform</a>
            </li>
        </div>
    </div>


</body>

</html>
{% endblock %}