{%extends "base.html"%}
{%load static%}
{%block contant%}

<body>



    <div class="forms">

        <form action="" method='POST'>
            {% csrf_token %}
            <label class="userid"> User Id:-
                <input type="text" value="" name="Username" placeholder="Enter your userid or numberor email">
            </label>
            <label class="password"> Password:-
                <input type="password" value="" name="Password" placeholder="Enter your Password">
            </label>
            <button type="submit">Login</button>
            <label><a href="http://">Forget Password</a></label>


            <label> <button class="Signup" type="button">
                    <a href="{%url 'signup'%}">Singup</a> </button></label>



        </form>
    </div>

</body>

</html>
{%endblock%}